<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBYuSRLy_GfpCPdZHLTmR1p_UqMA_0kmc</string>
	<key>GCM_SENDER_ID</key>
	<string>954473353975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skybatch.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>skybatch-f0755</string>
	<key>STORAGE_BUCKET</key>
	<string>skybatch-f0755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954473353975:ios:045efd107fb9d7af7ef9f2</string>
</dict>
</plist>